h1{
    color:yellow;
    margin-left: 20px;
    margin-right: 20px;
}
h2{
    color: yellow;
    margin-left: 20px;
    margin-right: 20px;
}
body {
    background-image: url("black.jpg"); 
}
.text2 {
    color: white;
    text-indent: 50px;
    letter-spacing: 3px;
    line-height: 2;
    font-family: sans-serif;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
}
.text1 {
    color: white;
    text-indent: 50px;
    letter-spacing: 3px;
    line-height: 2;
    font-family: sans-serif;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
}
.text3 {
    color: white;
    text-indent: 50px;
    letter-spacing: 3px;
    line-height: 2;
    font-family: sans-serif;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
}
.txt {
    color: white;
    text-indent: 50px;
    letter-spacing: 3px;
    line-height: 2;
    font-family: sans-serif;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
}
.img1 {
    text-align: center;
}
.img2 {
    text-align: center;
}
.img3 {
    text-align: center;
    opacity: 1;
    filter: alpha(opacity = 100);
}